.footer{
    background: rgb(189 222 241);
    padding: 30px 20px;
    color : #002130;
    border-radius: 0 0 10px 10px;
    letter-spacing: 1.2px;
    font-weight: 500;
    .foot-dept{
        text-align: right;
    }
    .foot-year{
        text-align: left;
    }

}