.footer{
    background: rgb(11, 31, 40);
    padding: 30px 20px;
    color : $lite-white;
    border-radius: 0 0 10px 10px;
    .foot-dept{
        text-align: right;
    }
    .foot-year{
        text-align: left;
    }

}