.top-bar{
    padding: 30px 40px;
    // background: linear-gradient(to right, #075985, #0f6464 );
    background: #003e62;
    border-radius: 10px 10px 0 0;
    color: #fff;
    .top-bar-name{
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 1.5px;
    }
    .top-bar-desg{
        font-size :24px;
        font-weight: 600;
        letter-spacing: 1.5px;
    }
    .header-paragraph{
        font-size: 14px;
        margin-bottom: 8px;
        font-weight: 500;
        letter-spacing: 1.3px;
        &.email-para{
            text-align: right;
        }
        &.phone-para{
            text-align: left;
        }
        
    }
}